body{
    margin: 0;
    padding: 0;
   background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/p3.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%

}

body:hover{
    transition: 2s;
    background-size: 200%;
    transition-timing-function: linear;
    background-position: 50% 90%

}

div{
    height: 25%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-direction: column;
    overflow: hidden;
    display: none;
}
img{
    height: 100%;
    //background-color: #fff;
}



